.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 30px;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}

.headerIcon {
  display: flex;
}

.modal {
  display: flex;
  justify-content: space-around;
}

.banner {
  display: inline-block;
  flex-grow: 1;
  margin-top: 15px;
  width: 80%;
  margin-left: 8%;
  text-align: center;
  border-radius: 8px;
  background: linear-gradient(to right, #00b496 0%, #b4f000 100%);
  color: #ffff;
  font-weight: 300;
}
